/*
 Theme Name:   Theme enfant marina
 Description:  Child desc
 Author:       Team Ski
 Template:     envo-blog
*/

/*Global settings*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black ;
    background-image: url("img/bgbg.jpg");
    background-color: black;
    
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f61414;

}

P
{
font-size:1.5em;  
}

h3
{
text-align:center;    
}

.main-container 
{
  background-color: rgba(192,192,192,0.8);
  margin-bottom:1em;
}

hr 
{
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
}

img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
img.alignleft { display: block; margin-left: auto; margin-right: auto; }
img.alignright { display: block; margin-left: auto; margin-right: auto; }

/* custom classes/ids */

.schedule
{
display:flex;
font-size:1.1em;
color:darkgreen;
}

.schedule1
{
font-size:1.1em;
color:darkgreen;
}


.clear
{
clear:both;
}

/*utility*/

    /*flex*/
    .flex
    {
    display:flex;
    }
	
	.f-d-r
	{
	flex-direction:row;
	}
	
    .j-b
    {
    justify-content:between;    
    }
    
    .a-i-c
	{
	display:flex;
	align-items:center;
	height:auto;
	}

.lh-2
{
line-height:2em;
}

.t-c
{
text-align:center;    
}

.t-r
{
text-align:right;    
}

.t-l
{
text-align:left;    
}

.pb-2
{
padding-bottom:2em;
}

.m-1
{
margin:1em;
}

.m-l-1
{
margin-left:1em;
}
.m-l-r-1
{
margin:0 1em;
}

.m-l-r-05
{
margin:0 0.5em;
}

.hi
{
display:hide;
}
